<div class="container">
  <hr>
  <div class="alert alert-info">
    {{alert_message}}
  </div>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let product of products">
      <img src="{{product | validImage}}" alt="" class="rounded float-left">
      <h5 class="float-left ml-10">{{product.code}} - {{product.name}}</h5>
      <div class="btn-group float-right">
        <button type="button" class="btn btn-sm btn-info dropdown-toggle" data-toggle="dropdown">Editar</button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#" (click)="goToProduct(product, $event)">Editar</a>
          <a class="dropdown-item" href="#" (click)="deleteProduct(product, $event)">Eliminar</a>
        </div>
      </div>
      <h5 class="float-right mr-10">{{product.price | currency:'COP':'$':'1.0'}}</h5>
    </li>
  </ul>
</div>