<div class="container">
  <hr>
  <div class="alert alert-info" *ngIf="alert_message">
    {{alert_message}}
  </div>
  <form>
    <div class="form-group" *ngIf="product.code">
      <h4>{{product.code}}</h4>
    </div>
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" name="name" id="name" [(ngModel)]="product.name" class="form-control" placeholder="" aria-describedby="helpId">
    </div>
    <div class="form-group">
      <label for="price">Precio</label>
      <input type="number" name="price" id="price" [(ngModel)]="product.price" class="form-control" placeholder="" aria-describedby="helpId">
    </div>
    <div class="form-group">
      <textarea name="description" id="description" [(ngModel)]="product.description" class="form-control" cols="30" rows="3"></textarea>
    </div>
    <div class="row">
      <div class="col-sm-1">
        <img [src]="'data:image/png;base64,'+product.data_img" alt="" class="rounded min-image">
      </div>
      <div class="col-sm-3">
        <input #imageInput type="file" class="form-control" (change)="processFile(imageInput)">
      </div>
    </div>
    <br>
    <button type="button" class="btn btn-primary" (click)="createProduct()" *ngIf="productId == 0">Crear</button>
    <button type="button" class="btn btn-primary" (click)="updateProduct()" *ngIf="productId != 0">Actualizar</button>
  </form>
</div>